:root {
  /* Full Slider Bar */
  --soft-cyan: hsl(174, 77%, 80%);
  /* Slider Backround */
  --strong-cyan: hsl(174, 86%, 45%);
  --thumb-hover: #7be9de;
  --thumb-grab: #25ada2;
  /* Discount Background */
  --light-grayish-red: hsl(14, 92%, 95%);
  /* Discount Text */
  --light-red: hsl(15, 100%, 70%);
  /* CTA Text */
  --pale-blue: hsl(226, 100%, 87%);

  /* Pricing Component Background */
  --white: hsl(0, 0%, 100%);
  /* Main Background */
  --very-pale-blue: hsl(230, 100%, 99%);
  /* Empty Slider Bar */
  --very-light-grayish-blue: hsl(224, 65%, 95%);
  /* Toggle Background */
  --light-grayish-blue: hsl(223, 50%, 87%);
  /* Text */
  --grayish-blue: hsl(225, 20%, 60%);
  /* Text & CTA Background */
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

body {
  background: var(--very-pale-blue) url(./images/bg-pattern.svg) no-repeat;
  min-height: 100vh;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.75rem;
  position: relative;
}

.circles {
  position: absolute;
  z-index: 0;
}

h1 {
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  text-align: center;
  color: var(--dark-desaturated-blue);
  z-index: 10;
}

.p-container {
  display: flex;
  z-index: 10;
}
.title p {
  color: var(--grayish-blue);
}
.title p:first-child {
  margin-right: 0.25rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
  width: 33.875rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem 0 var(--light-grayish-blue);
  overflow: hidden;
}

.primary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1.25rem 3rem;
  height: 16.5rem;
  border-bottom: 1px solid var(--very-light-grayish-blue);
  color: var(--grayish-blue);
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  margin-bottom: 1.25rem;
}

.pageviews {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price strong {
  font-size: 2.5rem;
  color: var(--dark-desaturated-blue);
  margin-right: 0.5rem;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: var(--very-light-grayish-blue);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 3.25rem;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  position: relative;
  top: -1rem;
  background: var(--strong-cyan) url(./images/icon-slider.svg) no-repeat center;
  cursor: grab;
  box-shadow: 0 1rem 1rem 0 var(--soft-cyan);
  transition: background-color 0.1s ease-in-out;
}
.slider::-webkit-slider-thumb:hover {
  background-color: var(--thumb-hover);
}
.slider::-webkit-slider-thumb:active {
  background-color: var(--thumb-grab);
  cursor: grabbing;
}

/*  Chrome track */

input[type="range"] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
  border-radius: 0.5em;
  background: var(--very-light-grayish-blue);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--soft-cyan), var(--soft-cyan)) 0 / var(--sx)
      100% no-repeat,
    var(--very-light-grayish-blue);
}

/*  */

.slider::-moz-range-progress {
  background-color: var(--soft-cyan);
  height: 0.5rem;
  border-radius: 0.25rem;
}
.slider::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background: var(--strong-cyan) url(./images/icon-slider.svg) no-repeat center;
  cursor: grab;
  box-shadow: 0 1rem 1rem 0 var(--soft-cyan);
  transition: background-color 0.1s ease-in-out;
}
.slider::-moz-range-thumb:hover {
  background-color: var(--thumb-hover);
}
.slider::-moz-range-thumb:active {
  background-color: var(--thumb-grab);
  cursor: grabbing;
}

.billing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing p {
  font-size: 12px;
}

.billing .discount {
  background-color: var(--light-grayish-red);
  height: 1.125rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.375rem;
  font-size: 0.625rem;
  line-height: 0.625rem;
  font-weight: bold;
  color: var(--light-red);
  margin: 0 1rem 0 0.625rem;
}
.d-std {
  display: inline-block;
}
.d-alt {
  display: none;
}

.checkbox {
  appearance: none;
  background-color: var(--light-grayish-blue);
  border: none;
  border-radius: 0.6875rem;
  width: 2.75rem;
  height: 1.375rem;
  position: relative;
  cursor: pointer;
  margin: 0 1rem;
  transition: background-color 0.1s ease-in-out;
}

.checkbox:hover {
  background-color: var(--soft-cyan);
}
.checkbox::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  transition: left 0.1s ease-in-out;
}
.checkbox:checked {
  background-color: var(--strong-cyan);
}
.checkbox:checked::before {
  left: 1.625rem;
}

.secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.75rem 0 3rem;
  height: 8.5rem;
}

.checklist p {
  color: var(--grayish-blue);
  font-size: 12px;
}
.checklist svg {
  margin: 0.125rem 1rem 0 0;
}
.check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

button {
  height: 2.5rem;
  width: 10.75rem;
  border: none;
  border-radius: 1.75rem;
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
  user-select: none;
}

button:hover {
  color: var(--very-pale-blue);
}

@media screen and (min-height: 700px) {
  .pricing {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-height: 660px) {
  .title {
    margin: 1rem 0 3.5rem;
  }
}
@media screen and (max-height: 630px) {
  .title {
    margin: 3rem 0 3.5rem;
  }
}

@media screen and (max-width: 580px) {
  .App {
    padding: 5.5rem 1.5rem;
  }

  h1 {
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
  }

  .title {
    margin: 0 0 4rem;
  }
  .p-container {
    flex-direction: column;
    align-items: center;
  }

  .title p {
    margin-bottom: 0.25rem;
    font-size: 13px;
  }

  .primary {
    padding: 2.125rem 1.5rem 2.375rem;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: min-content;
  }

  .pageviews {
    font-size: 0.75rem;
    margin-bottom: 5.5rem;
  }

  .top {
    height: min-content;
    margin-bottom: 2.125rem;
  }

  .slider {
    position: absolute;
    width: 84%;
    top: 5.6875rem;
  }

  .price strong {
    font-size: 2rem;
  }
  .price p {
    font-size: 0.875rem;
  }

  .pricing {
    width: 100%;
    height: max-content;
  }

  .top {
    flex-direction: column;
  }

  .billing {
    position: relative;
    width: 100%;
  }

  .checkbox {
    margin: 0 0.75rem;
  }

  .billing p {
    width: 5.75rem;
  }

  .billing p:first-child {
    text-align: right;
  }

  .billing .discount {
    position: absolute;
    margin: 0 0 0 0.25rem;
  }

  .d-std {
    display: inline-block;
  }
  .d-alt {
    display: none;
  }

  .secondary {
    flex-direction: column;
    padding: 1.5rem 3rem 2rem;
    height: min-content;
  }

  .checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.375rem;
  }

  .check {
    margin-bottom: 0.625rem;
  }

  .checklist svg {
    margin: 0 1rem 0 0;
  }
}

@media screen and (max-width: 490px) {
  .d-std {
    display: none;
  }
  .d-alt {
    display: inline-block;
  }
  .checkbox {
    margin: 0 0.5rem;
  }
}
